.tabBar {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc !important;
}

.barItem {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.w3-block {
    display: block;
    width: 100%
}


.abtTabs {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.abtTabs:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}