html, body {
    margin: 0px;
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;

}


.desktop {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('../images/enderbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Desktop icons*/
.desktopicons {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.icon {
    margin: 5px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.iconimg {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin: auto;

}

.icon:hover {
    cursor: pointer !important;
    background-color: rgba(139, 139, 139, 0.171) !important;
}

.iconrow {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    z-index: 4;
}

.icontext {
    color: white;
    font-family: Arial;
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
}


/*Taskbar*/

.taskbar {
    width: 100%;
    height: 40px;
    background-color: #7d3cdd;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.homeicon {
    height: 90%;
    margin: 2px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#homecontainer {
    width: 57px;
    border-right: 1px dashed #eeeeee;
}

.taskbar {
    display: flex;
    flex-direction: row;
    z-index: 7;
}

#taskscontainer {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.taskIcon {
    height: 90%;
    margin: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.taskOpen {
    width: 200px;
    border-right: 1px dashed #eeeeee;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    transition: 0.2s;
}


#homecontainer:hover, .taskOpen:hover, #backToDesktop:hover {
    background-color: rgb(160, 75, 240) !important;
}

.taskName {
    margin: auto;
    margin-left: 15px;
}

#backToDesktop {
    max-height: 100%;
    width: 10px;
    bottom: 0px;
    right: 0px;
    border-left: 1px solid whitesmoke;
    transition: 0.2s;
}

/*START MENU*/

.startmodal {
    overflow: auto;
    display: none;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.096);

}

#start {
    background-color: #222222;
    padding: 0;
    outline: 0;
    width: 400px;
    z-index: 5 !important;
    transition: 0.3s;
    bottom: 0 !important;
    height: 500px;
}

#startMenu {
    display: flex;
    flex-direction: column;
}

.startitem {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    text-align: center;
    transition: 0.2s;
}

.startitem:hover {
    background-color: #302f2f;
}

.startimg {
    max-height: 80%;
    padding: 15px;
    width: auto;
    aspect-ratio: 1;
}

.starttext {
    color: whitesmoke;
    margin: auto;
}




/*LIGHTBOX*/

.row>.column {
    padding: 0 8px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 8.333%;
    background-color: #252525;
    height: auto;
}

/* The Modal (background) */
.modal {
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.096);
}

#gallery {
    padding-top: 40px !important;
}

#galleryModal {
    max-width: 70%;
    margin: auto;
    padding: 0;
}

/* Modal Content */
#galleryTop {
    position: relative;
    background-color: #272727;
    margin: auto;
    padding: 0;
    max-width: 100%;
    height: 40px;
}

.lightboxcontent {

    position: relative;
    background-color: #363636;
    margin: auto;
    padding: 0;
    max-width: 100%;
}

.lbImg {
    display: block;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 500px;
}


/* The Close Button */
.close {
    color: rgb(197, 197, 197) !important;
    position: absolute;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: inline-block;
    padding: 5px 16px;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*Minimize*/

.minimize {
    border: none;
    display: inline-block;
    padding: 5px 16px;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(197, 197, 197) !important;
    position: absolute;
    right: 51px;
    font-size: 20px;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.galleryslides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    /*color: #f2f2f2;*/
    color: #dfdfdf;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 1px 16px;
    color: rgba(255, 255, 255, 0.226);
    transition: .5s linear;
}

.caption-container:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

#caption2 {
    width: 100%;
    text-align: center !important;
    padding: auto;
}

.demo {
    display: block;
    margin: 5px;
    opacity: 0.6;
    height: auto;
    width: auto;
    max-width: 50px;
    width: 100%;
}


.active,
.demo:hover {
    opacity: 1 !important;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*ABOUT*/
h5 {
    padding: 0px;
}

#aboutContent {
    display: flex;
    padding: 0.01em;
    color: rgb(54, 54, 54) !important;
    flex-direction: row;
}


.aboutContent:after, .aboutContent:before {
    content: "";
    display: table;
    clear: both;
}

.aboutcontainer {
    padding: 0.01em 16px;
    color: #fff !important;
    background-color: #2e204e !important;
}

/*About modal buttons*/

.abttitle {
    padding: 8px;
}

.closeabout {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(197, 197, 197) !important;
    position: absolute;
    right: 0;
    top: 0;
}

.minimizeabt {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(197, 197, 197) !important;
    position: absolute;
    right: 45px;
    top: 0;
}

.closeabout:hover,
.closeabout:focus, .minimizeabt:hover, .minimizeabt:focus, .minimize:hover, .minimize:focus, .close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(114, 97, 126) !important;
}

#aboutModal {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}


/*TAB BAR*/

.tabbar {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(53, 53, 53) !important;
    color: whitesmoke !important;
    background-color: #222222;
}

.baritem {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.w3-block {
    display: block;
    width: 100%
}


.abouttabs {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.abouttabs:hover {
    color: #000 !important;
    background-color: rgb(152, 108, 182) !important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: whitesmoke !important;
    background-color: #835285 !important;
}



/*ABOUT CONTENT - BASIC INFO*/

.tabarea {
    background-color: #999;
    border-left: 1px ridge #2e204e;
    height: 310px;
    max-width: auto;
    overflow: auto;
    flex: 1 1 0;
    padding: 10px;

}

#profile {

    padding: 10px;
    background-color: #252525 !important;
}

.abttable {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted #e8b2fd;
}

table {
    border-collapse: collapse;
    margin: 5px;
}

table td {
    border: 1px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td, .nbr {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.abtimage {
    height: 150px;
    width: auto;
    padding: 10px;
    border-bottom: 1px ridge #e0dee4;
}

.enderinfo {
    color: #e0dee4 !important;
}

/*ABOUT CONTENT - BEHAVIOUR*/

#abtBehaviour {
    background-color: rgb(48, 48, 48);
    border-left: 1px ridge #2e204e;
    height: 310px;
    max-width: auto;
    overflow: auto;
    flex: 1 1 0;
    padding: 10px;
    display: none;
    flex-direction: column;
    color: #ccc;
    width: auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    text-align: justify;
}

.imgdescription {
    text-align: center;
    width: 100%;
}

#hostile, #blocks {
    float: left;
    margin: 5px;
    max-width: 160px;
    text-align: center !important;
}

#teleportation {
    border: 1px ridge #222222;
    float: right;
}

.abtsideimage {
    margin: 20px;
    padding: 5px !important;
    background-color: #161616;
}



/*ABOUT - BIOME GALLERY*/

#abtGallery {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    padding: 10px;
    height: 310px;

}



.biometext, .audiotext {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-family: Verdana, sans-serif !important;
}

.biomerow {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.biomeimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
    margin: 5px;
    flex: 1 1 0;
}

.biomeimg:hover {
    opacity: 0.7;
    border-radius: 1px;
}

/* The Modal (background) */
.biomegallery {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 30px;
    /* Location of the box */
    margin: auto;
    width: 590px;
    /* Full width */
    height: 290px;
    /* Full height */
    overflow: none;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#img01 {
    max-height: 250px;
    width: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 30px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.closebiome {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.closebiome:hover,
.closebiome:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*AUDIO TAB*/

#audioSFX {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    height: 310px;
    overflow: auto;
}

.audiorow {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    width: 100%;
}

.iconaudio {
    margin: auto;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;

}

.audiocontainer {
    display: block;
    width: 100%;
    padding: auto;
    text-align: center;
}

.audioplayer {
    display: none;
    background-color: #161616;
    height: 100px;
    width: 96%;
    text-align: center;
    padding: 10px;
    position: relative
}



.closeAudio {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.closeAudio:hover,
.closeAudio:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/*TRIVIA APP*/


#triviaModal {
    display: block;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

#triviaContent {
    display: flex;
    height: 310px;
    padding: 0.01em;
    color: rgb(54, 54, 54) !important;
    flex-direction: row;
}

#homeTab {
    background-color: #774c79;
    color: whitesmoke;
}

.triviatabs:hover {
    color: #000 !important;
    background-color: rgb(152, 108, 182) !important;
}

#backHome, #devTab, #alphaTab, #miscTab, #gameTab {
    display: none;
    background-color: #222222;
}

#triviaChoose {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    padding: 30px;
    height: 320px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

#trivDevTab, #trivAlphaTab, #trivMiscTab, #trivGameTab {
    display: none;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    height: 340px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.triviarow {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    margin-bottom: 10px;
}

.triviabox {
    margin: auto;
    height: 150px;
    width: auto;
    aspect-ratio: 1;
    margin: 5px;
    background-color: #835285;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
}

.triviabox:hover {
    background-color: #774c79;
}

.triviaContent:after, .triviaContent:before {
    content: "";
    display: table;
    clear: both;
}

#trivia2 {
    background-color: rgb(48, 48, 48);
    border-left: 1px ridge #2e204e;
    height: 310px;
    max-width: auto;
    overflow: auto;
    flex: 1 1 0;
    padding: 10px;
    display: none;
    flex-direction: column;
    color: #ccc;
    width: auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.triviaimg {
    margin: auto;
    float: left;
    text-align: center !important;
    max-width: 50%;
    margin: 2px;
    flex: 1 1 0;
}

.doubleimagecontainer {
    background-color: #161616;
    color: #ccc;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
    text-align: center;
}

.triviadoubleimage {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 90%;
    height: auto;
    text-align: center;
    padding: 1px;
}

.trivsideimage {
    margin: 20px;
    padding: 5px !important;
    background-color: #161616;
    max-height: 150px;
    width: auto;
}

.widetriv {
    margin: 5px;
    max-height: 200px !important;
    max-width: 300px;
    text-align: center !important;
}

.narrowtriv {
    margin: 5px;
    max-width: 200px;
    text-align: center !important;
}

.lefttriv {
    float: left;
    margin-right: 20px !important;
}

.righttriv {
    float: right;
    margin-left: 20px !important;
}




/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*technoblade*/

#technoblade {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.technoicon {
    margin: 5px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}


.technoicon:hover {
    cursor: pointer !important;
    background-color: rgba(139, 139, 139, 0.171) !important;
}

#technoselect {
    top: 20% !important;
}

#technoModal {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 300px;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.technocontainer {
    padding: 0.01em 16px;
    color: #fff !important;
    background-color: #e65f66 !important;
}

#technobuttoncontainer {
    display: flex;
    width: 93%;
    padding: 10px;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: center;
}

#technocontent {
    overflow: hidden;
    overflow-x: hidden;
}

.technobutton {
    display: block;
    width: 100px;
    height: 30px;
    background-color: rgb(242, 97, 97);
    color: whitesmoke;
    font-size: 10px;
    margin: 10px;
    text-decoration: none;
}

.technobutton:hover{
    background-color: rgb(232, 84, 84);
}

.technoarea {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(234, 157, 171);
    max-width: auto;
    overflow: hidden;
    flex: 1 1 0;
    padding: 10px;
}