#cover {
  background-image: linear-gradient(to right, rgba(255, 123, 0, 0.7), rgba(0, 51, 0, 0)), url("../images/bridges.png");
  min-height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bridgetypes {
display:flex;
width: 100%;
flex-direction: column;
flex-wrap: wrap;

}

/*MISC BRIDGE CARDS*/

.bridgecard {
  display: flex;
  min-height: 300px;
  width: 100%;
  float: left;
  overflow: hidden;
  padding: 10px;
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  margin-bottom: 15px;
}

.gifs {
  max-width: 70vw;
  max-height: 300px;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.bridgetitle{
  display: inline-block;
  height: auto;
  width: auto;
  padding: 3px;
  margin: 3px auto;
  align-items: center;
}

#title1 {
  background-color: #fb90a3;
  text-align: center;
}

#title2 {
  background-color: #36eaea;
  text-align: center;
}

#title3 {
  background-color: rgb(247, 126, 82);
  text-align: center;
}

.bridgetext{
  padding: 10px;
  padding-bottom: 15px !important;
  margin: 3px auto;
  text-align: center;
  width: 100%;
  min-width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
}

.bridgedesc{
  padding: 10px;
  min-width: 30vw;
  max-width: auto;
  width: 100%;
  height: 80%;
  text-align: center;
  margin-bottom: 10px ;
  color:#2b6886;
  font-size: 25px;
}

#bridgedesc1 {
  background-color: rgb(252, 214, 220);
  margin-bottom: 10px;
}

#bridgedesc2 {
  background-color: rgb(170, 247, 247);
  margin-bottom: 10px;
}

#bridgedesc3 {
  background-color: rgb(255, 185, 159);
  margin-bottom: 10px;
}

#otherbridge1{
  background-color: #f9c0ca;
}

#otherBridge2{
  background-color: #8cf0f0;
}

#otherBridge3{
  background-color: #fda280;
}

.instructions{
  font-size: 20px !important;
}

.introduction{
  font-size: 20px !important;
}